.profileInfo {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.title {
  margin-top: 0;
  font-size: 40px;
  color: #dddddd;
}

.userDetails {
  margin-top: 1rem;
}

.userDetails p {
  margin: 1rem 0;
  font-size: 2rem;
  color: #ffffff;
}

.userDetails strong {
  color: #ffffff;
}
