:root {
  --background: #000000;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 0 40px;
}

section {
  padding: 120px 0;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  min-height: 100vh;
}

.container {
  z-index: 20;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.title {
  font-size: 64px;
  margin-bottom: 60px;
  color: #fff;
  background: linear-gradient(45deg, #f7c30f, #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  main {
    padding: 0 20px;
  }

  section {
    padding: 60px 0;
  }

  .title {
    font-size: 48px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 400px) {
  main {
    padding: 0 10px;
  }

  section {
    padding: 40px 0;
  }

  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.rdrCalendarWrapper,
.rdrDateRangeWrapper,
.rdrDefinedRangesWrapper {
  background: #202020 !important;
}

.date-range-picker {
  width: 100%;
}

.rdrCalendarWrapper,
.rdrDateRangeWrapper {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.rdrDateDisplayWrapper {
  border-top-right-radius: 12px;
}

.rdrCalendarWrapper {
  border-top-right-radius: 12px;
}

.rdrDefinedRangesWrapper {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
}

.rdrStaticRanges {
  border-top-left-radius: 12px;
}

.rdrMonths,
.rdrMonthsVertical {
  border-bottom-right-radius: 12px;
}

.rdrStaticRange {
  background: #121212 !important;
  color: white !important;
}

.rdrStaticRangeSelected {
  color: #f7c30f !important;
}
.rdrDateDisplayWrapper {
  background: #121212 !important;
}

.rdrDayNumber span {
  color: #ffffff !important;
}

.rdrDayDisabled {
  background: #121212 !important;
}

@media (max-width: 800px) {
  .rdrDateRangePickerWrapper {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    max-width: 300px;

    span {
      font-size: 14px !important;
    }
  }

  .rdrStaticRanges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 260px;
  }

  .rdrDefinedRangesWrapper {
    width: 100%;
    display: none;
  }

  .rdrStaticRangeLabel {
    padding: 4px 8px;
  }

  .rdrStaticRange {
    margin-bottom: 5px;
  }

  .rdrMonthPicker,
  .rdrYearPicker {
    margin: 0;
    width: 100%;
  }

  .rdrWeekDays,
  .rdrDays,
  .rdrMonth {
    max-width: 260px;
  }
}
