:root {
  --background: #000000;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 0 40px;
}

section {
  padding: 120px 0;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  min-height: 100vh;
}

.container {
  z-index: 20;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.title {
  font-size: 64px;
  margin-bottom: 60px;
  color: #fff;
  background: linear-gradient(45deg, #f7c30f, #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  main {
    padding: 0 20px;
  }

  section {
    padding: 60px 0;
  }

  .title {
    font-size: 48px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 400px) {
  main {
    padding: 0 10px;
  }

  section {
    padding: 40px 0;
  }

  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
