.notPermitted {
    text-align: center;
    padding: 50px;
}

.notPermitted h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.notPermitted p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #555;
}
